div.paint-diagram button {
    margin-right: 4px;
}

svg.paint {
    border: 1px solid black;
}

svg.paint path.user-path {
    stroke: darkorange;
    stroke-dasharray: 5;
    stroke-width: 2;
    fill: none;
    pointer-events: none;
}

svg.paint circle.point {
    fill: transparent;
}

svg.paint text.copyright {
    text-anchor: end;
    font-size: 10px;
}

svg.paint text.scroll-text {
    text-anchor: middle;
}

svg.paint circle.scroll-pointer {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
